<launch>
	<!-- robot 1 -->
	<arg name="robot_ns" default="/ugv1" />
	<arg name="robot_id" default="1" />
	<rosparam file="$(find map_manager)/cfg/occupancy_map_param_team_ugv.yaml" ns="$(arg robot_ns)/occupancy_map"  />
    <remap from="$(arg robot_ns)/occupancy_map/shared_map" to= "/occupancy_map/public_shared_map"/>
	<remap from="$(arg robot_ns)/occupancy_map/robot_states" to="/occupancy_map/robot_states" />
	<remap from="/odom" to="/odom$(arg robot_id)" />
	<remap from="/point_cloud" to="/point_cloud$(arg robot_id)" />
	<remap from="/rgb" to="/rgb$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/voxel_map" to="$(arg robot_ns)/occupancy_map/voxel_map_$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/inflated_voxel_map" to="$(arg robot_ns)/occupancy_map/inflated_voxel_map_$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/2D_occupancy_map" to="$(arg robot_ns)/occupancy_map/2D_occupancy_map_$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/depth_cloud" to="$(arg robot_ns)/occupancy_map/depth_cloud_$(arg robot_id)" />
	
	<node pkg="map_manager" type="occupancy_map_node" name="occupancy_map_node" output="screen" ns="$(arg robot_ns)" />
		<param name="$(arg robot_ns)/occupancy_map/robot_id" value="$(arg robot_id)" />
		<!-- <remap from="odom" to="odom$(arg robot_id)" />
		<remap from="point_cloud" to="point_cloud$(arg robot_id)" />
		<remap from="rgb" to="rgb$(arg robot_id)" /> -->
		
	<!-- robot 2 -->
	<!-- <arg name="robot_ns" value="/ugv" />
	<arg name="robot_id" value="2" />
	<rosparam file="$(find map_manager)/cfg/occupancy_map_param_team_ugv.yaml" ns="$(arg robot_ns)/occupancy_map"  />
    <remap from="$(arg robot_ns)/occupancy_map/shared_map" to= "/public_shared_map"/>
	<remap from="/odom" to="/odom$(arg robot_id)" />
	<remap from="/point_cloud" to="/point_cloud$(arg robot_id)" />
	<remap from="/rgb" to="/rgb$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/voxel_map" to="$(arg robot_ns)/occupancy_map/voxel_map_$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/inflated_voxel_map" to="$(arg robot_ns)/occupancy_map/inflated_voxel_map_$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/2D_occupancy_map" to="$(arg robot_ns)/occupancy_map/2D_occupancy_map_$(arg robot_id)" />
	<remap from="$(arg robot_ns)/occupancy_map/depth_cloud" to="$(arg robot_ns)/occupancy_map/depth_cloud_$(arg robot_id)" />
	<node pkg="map_manager" type="occupancy_map_node" name="occupancy_map_node" output="screen" ns="$(arg robot_ns)" />
		<param name="$(arg robot_ns)/occupancy_map/robot_id" value="$(arg robot_id)" /> -->
</launch>